<h1>Please enter a word or phrase to create a puzzle  .</h1>
<form action='/output'>
  <div class="form-group">
    <label for="inputWord">Enter Word or phrase here</label>
    <input id="inputWord" name="inputWord" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
